img{
    width : 500px;
    /* height : 100px; */   
    margin : 50px;
    border : 3px solid blue;
 }
 
 pre{
    font-size: 1.2em;
    border : 1px dotted grey;
    background: lightblue;
    padding: 10px;
    margin: 10px;
 
 }
 input[type=button], button[type=button]{
    background: blue;
    color: white;
    width: 80px;
    height: 30px;   
    margin: 10px;
    border-radius : 20px;
 }
 div.box{
    height : auto;
    border : 3px dotted red;
    margin: 5px;
    padding: 5px;
    background: lightgrey;
 }
 div.box div{      /* class box의 후손 div */
    background: #A473FF;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    height: auto;
    padding: 10px;
 }